section {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .board {
        display: flex;
        background: #763AD6;
        border-radius: 10px;
        padding: 5px;
        flex-direction: column;
        gap: 10px;
        .row {
            display: flex;
            gap: 5px;
            [class^=input] {
                display: flex;
                align-items: center;
                justify-content: center;
                $square-width: 100px;
                border-radius: 10px;
                background: #3F2C82;
                width: $square-width;
                height: $square-width;
            }
        }
        // width: 156px;
        // flex-wrap: wrap;
        // gap: 10px;
    }
}