section {
    display: flex;
    margin-top: 37px;
    justify-content: center;
    align-items: center;
    .board {
        display: flex;
        background: #763AD6;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 12px;
        flex-direction: column;
        gap: 16px;
        animation: apparition-board .5s ease-out ;
        .row {
            display: flex;
            gap: 12px;
            [class^=input] {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                $square-width: 100px;
                border-radius: 10px;
                background: #3F2C82;
                width: $square-width;
                height: $square-width;
                svg {
                    width: 75px;
                }
            }
        }
    }
    @keyframes apparition-board {
        from {
            transform: translateX(1000px);
            opacity: 0;
        } to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
