@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  background-image: radial-gradient(circle at 32.82% 43.75%, #e0c9f9 0, #d5bff5 25%, #c8b5f2 50%, #baabef 75%, #aca2ec 100%);
  font-family: 'Roboto', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
